/* Raos.css v2
    feuille de style pour le logiciel raos */

/* ==================
    A1. Style général
===================== */

/* Réglages généraux de l'appli */
* {
    font-size: inherit;
}

body {
    background: #A1A1AF;
    font-family: Calibri, Roboto, Ubuntu, "Deja Vu Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    height: auto;
}

kbd {
    border: 1px solid currentColor;
    padding: 0.2ex .5ex;
    border-radius: 1ex;
}

select {
    font-size: 100%;
}

button {
    font-size: 100%;
    font-family: Calibri, Roboto, Ubuntu, "Deja Vu Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    /*height: auto;*/
}

button:disabled {
    color: #DDD;
}


@media screen {
    /* ===========================================
        A2. Éléments structurants de l'application
    ============================================== */


    #screen-filler { /* Élémént principal assurant le plein écran */
        /* position absolue à 0 de chacun des bords */
        box-sizing: border-box;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        /* sans bordure, marges ni capitonnage */
        border:0;
        margin:0;
        padding:0;
        /* pour cette application, on utilise le modèle flex */
        display: flex;
        flex-direction: column;
    }

    #main-div { /* Réglages du cadre principal */
        display: flex;
        flex-flow: row nowrap;
        min-height: 1%; /* semble nécessaire pour obtenir des ascenseurs propres à l'intérieur */
        align-items: stretch;
        height:100%;
        padding: .5ex;
        flex-wrap: wrap;
    }

    #main-div > * {
        margin: .5ex;
        height:100%;
    }

    .hide {
        display: none;
    }

    #menu-div { /* menu principal */
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        /* flex-wrap: nowrap; */
        flex: 0 0 10ex;
        /* min-height:0; */
        /* align-items: stretch; */ 
        /*overflow:auto;*/
        /*height: auto;*/
    }


    #title-div { /* Barre titre (reçoit aussi lien vers manuel et un sélecteur) */
        background: black;
        color: white;
        padding: 1ex;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    #title-left {
        flex-grow: 1;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    #title-right {
        flex-shrink: 1;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: stretch;
    }

    #title-right > div + div {
        margin-left: 1ex;
    }

    #title-left > div + div {
        margin-left: 1ex;
    }

    #title { /* titre de l'application */
        font-weight: bold;
        text-align: left;
        font-size: 250%;
    }


    #title-logo{
        display: inline;
        height: .9em; 
        vertical-align: middle;
    }

    #title-text{
        display: inline;
        height:1em; 
        vertical-align: middle;
    }


    .title-button {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: auto;
        padding: 1ex;
        border-radius: 1ex;
    }

    .title-button-image {
        height: 2em;
    }

    #fullscreen{
        color: white;
    }

    .stretcher { /* élément extensible pour remplir les flex */
        flex-grow: 1;
    }

    #solve-div {
        /*display: none;*/
        box-sizing: border-box;
        background: lavender;
        overflow: auto;
        flex: 1 0 40%;
        padding: 1ex;
        /*height:auto;*/
    }

    #manual-div {
        box-sizing: border-box;
        flex: 1 0 minmax(40vw, 35%) ;
        border: 1pt solid black;
    /*    height: 100%;
        display:none; */
    }

    #manual-iframe {
        overflow: hidden;
        box-sizing: border-box;
        flex:2;
        width:100%;
        height:auto;
    }

    #manual-switch {
        cursor: pointer;
        padding: 1ex;
        border-radius: 1ex;
        width: 5em;
    }
        
    .main-button {
        margin-bottom: 1ex;
    }

    #fast-input {
        background-color: orange;
        color: white;
        font-weight: bolder;
    }

    .action-button {
        margin-top: 1ex;
        text-overflow: ellipsis;
    }

    .action-logo {
        display: none;
        font-weight: bolder;
        font-size: 5vw;
    }
        
    /* ACTIONS DE RÉSOLUTION */


    .initial * {
        border-top: none;
    }

    #action-box {
        background: #003;
        width: 100%;
        padding: .2ex;
        padding-top: 0;
        margin-top: 1ex;
    }

    .action-settings {
        box-sizing: border-box;
        background: white;
        margin: 0ex 0ex;
        padding: 1ex;
        border: 2px solid #003;
        border-top: 0px;
    }

    .action-choice {
        background: #003;
        color: white;
        padding: .6ex 1ex;
        margin: 0 0;
        margin-top: 1ex;
        font-weight: bold;
        cursor: pointer;
    }

    .action-container {
        display: none;
    }

    .op-choice {
        display: inline-block;
        width:2em;
        text-align: center;
        font-size:110%;
        font-weight:bold;
        border: 1px solid lavender;
        border-radius: 1ex;
        cursor: pointer;
    }

    .op-choice[data-selected="true"] {
        background: lavender;
        color: black;
        border-color: black;
    }

    .op-choice[data-selected="false"] {
        background: black;
        color:white;
        border-color: lavender;
    }

    #virtual-kbd-container {
        display: none;
    }

    #op-kbd-layout {
        display: flex;
        justify-content: center;
    }

    #virtual-kbd-table {
        background-color: rgba(255, 192, 122, 1);
        padding: 1em;
        margin: 1em;
        border-radius: 1em;
    }

    .op-kbd {
        border-radius: 2vw;
        background-color: white;
        width: 8vw;
        height: 6vw;
        font-size: 4vw;
    }
        
    .op-kbd-num {
        background-color: black;
        color: white;
    }
        
    .op-kbd-special {
        background-color: gray;
    }
        
    .op-kbd-var {
        background-color: DarkSalmon;
        color: white;
    }

    .comb-entry-line[data-target="true"] {
        color:gray;
    }

    .comb-entry-line[data-target="true"] .comb-end {
        display: none;
    }

    .comb-entry-line[data-target="false"] {
        color:black;
    }


    #fullscreen-off  {
        display: none;
    }

    .mode-selector {
        cursor: pointer;
        height: auto;
        padding: 1ex;
        border-radius: 1ex;
        background:red;
    }

    .mode-selector[data-state="0"] {
        background: black;
    }


    .mode-selector[data-state="1"] {
        background: orange;
    }

    .math-entry {
        border: 1px solid black;
    }

    .math-entry[data-mobile=true][data-selected="1"] {
        background: lightgoldenrodyellow;
    }
    
    .math-entry[data-mobile=true][data-selected="0"] {
        background: white;
    }

    .alt-entry {
        display: inline-block;
        width: 10em;
        height: 100%;
        vertical-align: middle;
        padding: 0 1ex;
        border: 1px solid black;
        border-radius: 1ex;
    }

    
    .entry-unselected {
        background-color: white;
        color: black;
    }

    .entry-selected {
        background-color: orangered;
        color: white;
        border-width: 1px solid white;
    }
        


    /* ==============================================
        A3. Conteneurs génériques (flex et ordinaire)
    ================================================= */

    .h-flex {
        display: flex;
        flex-direction: row;
        align-items: flex-middle;
    }

    .h-flex > * {
    }

    .v-container {
    }

    .v-container > * {
        width: 100%;
    }

    .v-flex {
        display: flex;
        flex-direction: column;
    }

    .v-flex > * {
        width: 100%;
    }


        


    /* ==============================
        A4. Éléments de l'application
    ================================= */

    .action-submit {
        width: 100%;
    }

    .comment { /* commentaires du formulaire de saisie */
        color: #444;
        font-style: italic;
    }

    .error { /* messages d'erreurs de saisie */
        background: red;
        color: white;
        padding: 1ex;
    }

    .error-container {
        margin-top = 0 !important;
        padding: 0;
        display: none;
    }

    .form-section > h1 { /* titre des sections du formulaire de saisie */
        padding: .3ex .7ex;
        background: black;
        color: white;
        font-size: 100%;
        font-weight: bold;
        box-sizing: border-box;
        flex: 1;
    }


    #line-entry { /* zone de saisie des lignes */
        flex:1;
    }

    .font-size-button {
        color: white;
        font-weight: bold;
        padding: 1ex;
        border-radius: 1ex;
        cursor: pointer;
    }


    #increase-size {
        font-size: 125%;
    }

    #decrease-button {
        font-size: 75%;
    }

    table#resolution-steps {
        border-collapse:separate;
        border-spacing:0 0;
        background: white;
    }

    td.step-id {
        text-align: right;
        padding-left: 1ex;
        padding-right: 1ex;
        color: white;
        background: darkorange;
        cursor: s-resize;
    }

    td.step-sys {
        padding: 1ex;
    }

    td.step-comment {
        font-style: italic;
        text-align: left;
        padding-left: 1ex;
        width: 100%;
    }

    tr.step-row:not(:first-of-type)>td {
        border-top: 1px dotted darkorange;
    }

    tr.step-row {
        font-size: inherit;
        padding-right: 2ex;
        width: 100%;
        background: white;
    }

    .old-transit { /* transition pour les messages d'erreur */
        box-sizing: border-box;
        overflow: hidden;
        transition: max-height .5s ease;
        max-height: 0px;
        margin: 0;
        padding: 0;
        /*padding-top: 1ex;*/
    }

    #unknown-list-display { /* affichage des inconnues pour saisie des lignes */
        text-align: center;
        background: white;
        padding: .2ex;
    }

    #unknowns-entry { /* zone de saisie des inconnues */
        flex: 1;
    }

    /* ===============
        A4. Animations
    ================== */

    @keyframes vanish {
        0% {opacity:1; background: red; color: white}
        40% {opacity:1; background: red; color: white}
        60% {opacity:1; background: black; color: white}
        100% {opacity:0; background: black; color: white}
    }
}

@media print {
    #manual-switch, 
    #manual-div, 
    .font-size-button, 
    .mode-selector,
    #action-box,
    .action-settings {
        display: none !important;
    }

    #menu-div, #form-div, #full-screen-message {
        display: none !important; 
    }
}

@media (hover) {
    
    .font-size-button:hover {
        background: darkorange;
    }
        
    .title-button:hover {
        background: darkorange;
    }
    
    #manual-switch:hover {
        background: darkorange;
    }

}

@media (max-aspect-ratio: 3/4) {

    html {
        font-size: 60%;
    }
    
    #menu-div {
        flex-flow: row nowrap;
    }

    #menu-div > * {
        flex: 1 1 0pt;
    }

    .action-logo {
        display: block;
    }
    
    #main-div {
        flex-flow: column nowrap;
    }

    #title-div {
        font-size: 3vw;
    }
    
    #solve-div {
        width: 100%;
    }
    
    #manual-div {
        width: 100%;
    }	
    
    .main-button, .action-button {
        margin-bottom: 0pt;
        margin-top: 0pt;
    }
}
