/* Raos.css v2
    feuille de style pour le logiciel raos 
    
    1. Police de caractères
    2. Variables css du document
    3. Eléments généraux
    4. Fenêtres modales

*/




/*
╔══════════════════════════════════════════════════════════╗
║║
╚══════════════════════════════════════════════════════════╝
*/

/*
╔══════════════════════════════════════════════════════════╗
║ 1. Police de caratcères                                  ║
╚══════════════════════════════════════════════════════════╝
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/*
╔══════════════════════════════════════════════════════════╗
║ 2. Variables du document                                 ║
╚══════════════════════════════════════════════════════════╝
*/

:root {
    --main-color:#F7AD19;
    --darkest-secondary-color:#020233;
    --dark-secondary-color:#111150;
    --darker-secondary-color:#2F2F7A;
    --secondary-color: #5A5AA5;
    --light-secondary-color:#E6E6FA;
    --lighter-secondary-color: #9494CF;
    --dark-color:#F27F0C;
    --light-color:#06c;
}


/*
╔══════════════════════════════════════════════════════════╗
║ 3. Eléments généraux                                     ║
╚══════════════════════════════════════════════════════════╝
*/
/* Réglages généraux de l'appli */


* {
    font-size: inherit; /* ? */
    margin: 0pt;
    /* boxsizing ? */
}

#quick-start {
    background-color: white;
    padding: 2ex;
    box-sizing: border-box;
}


html {
font-size: 12pt;
	overscroll-behavior: none; /* suppression du rechargement lors du swipe down sur un téléphone */
}

body {
    background-color: #666;
    font-family: Montserrat, Calibri, Roboto, Ubuntu, "Deja Vu Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-variant: slashed-zero;
    height: auto; /* pas 100% ? */
	overscroll-behavior: none; /* suppression du rechargement lors du swipe down sur un téléphone */
}

kbd { /* obsolete ? */
    border: 1px solid currentColor;
    padding: 0.2ex .5ex;
    border-radius: 1ex;
}

select {
    font-size: 150%;
}

button {
    font-size: 100%;
    font-family: Montserrat, Calibri, Roboto, Ubuntu, "Deja Vu Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    /*height: auto;*/
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5);
}

button:disabled {
    color: #DDD;
}


/*
╔══════════════════════════════════════════════════════════╗
║ 4. Fenêtres modales                                      ║
╚══════════════════════════════════════════════════════════╝
*/

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(250,250,250); /* Fallback color */
  background-color: rgba(255,255,255,0.8); /* Black w/ opacity */
  background: color-mix(in srgb, var(--lighter-secondary-color) 50%, transparent);
}

/* Modal Content/Box */
.modal-content {
    display: flex;
    flex-flow: column nowrap;
    gap: 2ex;
    background-color: var(--darkest-secondary-color);
    color: white;
    margin: 5ex auto; 
    padding: 4ex;
    width: 80%; /* Could be more or less, depending on screen size */
}


/* déplacer ? */
#manual-button-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 2ex;
}

#new-system-content {
    align-items: center;
}

#new-system-input {
    width: 100%;
}



/*
╔══════════════════════════════════════════════════════════╗
║ 5. Structure de l'application                            ║
╚══════════════════════════════════════════════════════════╝
html                                                              
│                                                                 
└─► body                                                          
    │                                                             
    ├─► screen-filler (flex vertical)                                         
    │   │                                                         
    │   ├─► title-div (flex horizontal)                                            
    │   │   │                                                     
    │   │   ├─► title-left                                        
    │   │   │   │                                                 
    │   │   │   ├─► title                                         
    │   │   │   │   │                                             
    │   │   │   │   ├─► title-logo                                
    │   │   │   │   │                                             
    │   │   │   │   └─► title-text                                
    │   │   │   │                                                 
    │   │   │   ├─► manual-switch                                 
    │   │   │   │                                                 
    │   │   │   └─► manual-resize                                 
    │   │   │                                                     
    │   │   └─► title-right                                       
    │   │       │                                                 
    │   │       ├─► decrease-size                                 
    │   │       │                                                 
    │   │       ├─► increase-size                                 
    │   │       │                                                 
    │   │       ├─► mode-switch                                   
    │   │       │                                                 
    │   │       └─► fullscreen                                    
    │   │                                                         
    │   └─► main-div (flex, variable)                                             
    │       │                                                     
    │       ├─► menu-div (flex, variable)                                         
    │       │                                                     
    │       │       (.action-button)                             
    │       │                                                     
    │       └─► scroll-div (flex horizontal)                                       
    │           │                                                 
    │           ├─► content-div (flex, variable)                                   
    │           │   │                                             
    │           │   ├─► solve-div                                 
    │           │   │   │                                         
    │           │   │   ├─► resolution-steps (table)              
    │           │   │   │                                         
    │           │   │   ├─► (.action-container))                  
    │           │   │   │                                         
    │           │   │   └─► virtual-keyboard-container            
    │           │   │       │                                     
    │           │   │       └─► virtual-keyboard                  
    │           │   │           │                                 
    │           │   │           └─► virtual-keyboard-layout       
    │           │   │               │                             
    │           │   │               └─► virtual-keyboard-table    
    │           │   │                   │                         
    │           │   │                   ├─► (.virtual-kbd)        
    │           │   │                   │                         
    │           │   │                   ├─► (.virtual-kbd-num)    
    │           │   │                   │                         
    │           │   │                   ├─► (.virtual-kbd-special)
    │           │   │                   │                         
    │           │   │                   └─► (.virtual-kbd-var)    
    │           │   │                                             
    │           │   └─► manual-div                                
    │           │       │                                         
    │           │       └─► manual-iframe                         
    │           │                                                 
    │           └─► pane-scrollbar (input)                        
    │                                                             
    │ FENETRES MODALES                                            
    │                                                             
    ├─► manual-choice                                             
    │                                                             
    └─► new-system                                                
*/

/*
╔══════════════════════════════════════════════════════════╗
║ Configuration pour affichage vertical                  ║
╚══════════════════════════════════════════════════════════╝
*/

@media (max-aspect-ratio: 1/1) {

    button, input, select {
        min-height: 6vw;
    }

    #title-div {
        font-size: 3vw;
    }

    #main-div { 
        flex-flow: column nowrap;
        gap: 1vw;
        padding: 1vw;
    }

    #menu-div {
        flex-flow: row nowrap;
        gap: 1vw;
        width: 100%;
	    justify-content: space-between;
        flex-grow: 0;
    }

    .action-button {
        /*width: 18vw;*/
        flex: 1 1 0;
    }

    .action-logo {
        display: block;
    }
    
    .action-text {
        overflow: hidden;
        text-overflow: ellipsis;
        width:100%;
        white-space: nowrap;
	    font-size: 2vw;
    }
    
    
    #content-div {
        
				flex-flow: column nowrap;
    }

    #solve-div {
    	padding: 1vw;
    }
    
    #manual-div {
	    flex: 0 0 50%;
        width: 100%;
    }	
    
    .virtual-kbd {
        width: 10vw;
        height:10vw;
        font-size: 6vw;
        background-color: white;
        border-radius: 1vw;
    }
}


/*
╔══════════════════════════════════════════════════════════╗
║ Configuration pour affichage horizontal                  ║
╚══════════════════════════════════════════════════════════╝
*/


@media (min-aspect-ratio: 1/1) {

    button, input, select {
        min-height: 6vh;
    }
    
    #title-div {
        font-size: 2.4vh;
    }
    
    #main-div { 
        flex-flow: row nowrap;
        gap: 1vh;
        padding: 1vh;
    }
    
    #menu-div {
        flex-flow: column nowrap;
        gap: 1vh;
        width: 100%;
	    justify-content: flex-start;
        flex: 0 0 6vh;
    }

    .action-button {
        font-variant: all-caps;
    }

    #fast-input {
        margin-bottom: 3vh;
    }

    .action-logo {
        display: none;
    }
    
    #content-div {
        
				flex-flow: row nowrap;
    }

    #solve-div {
    	padding: 1vh;
    }

    #manual-resize {
        display: none;
    }

    #pane-scrollbar {
        display: none;
    }

    
    .virtual-kbd {
        width: 10vh;
        height:10vh;
        font-size: 6vh;
        background-color: white;
        border-radius: 1vh;
    }
}



/*
╔══════════════════════════════════════════════════════════╗
║ 5.a. La structure principale                             ║
╚══════════════════════════════════════════════════════════╝
*/

#screen-filler { /* Élémént principal assurant le plein écran */
    /* position absolue à 0 de chacun des bords */
    box-sizing: border-box; /* nécessaire ? ne vaut-il mieux faire un réglage général ? */
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    /* sans bordure, marges ni capitonnage */
    border:0pt;
    margin:0pt;
    padding:0pt;
    /* pour cette application, on utilise le modèle flex */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}





/*
╔══════════════════════════════════════════════════════════╗
║ 5.b. Tout ce qui concerne le titre                       ║
╚══════════════════════════════════════════════════════════╝
*/



#title-div { 
    background-color: black;
    color: white;
    padding: 2px 10px 5px; /* reformuler en vw, vh ? */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px; /* reformuler en vw, vh ? */
}

#title-left {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 2px; /* reformuler en vw, vh ? */
}

#title-right {
    flex-shrink: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: stretch;
    gap: 2px;
}

#title { 
    font-weight: bold;
    text-align: left;
    font-size: 250%;
    margin-right: 1ex;
}

#title-logo{
    display: inline-block;
    margin-right: 1vw;
    height: .9em; 
    vertical-align: middle;
}

#title-text{
    display: inline;
    height: 1em; 
    vertical-align: middle;
}

.title-button {
    display: flex; /* flex pour centrer verticalement le contenu */
    align-items: center;
    cursor: pointer;
    height: auto;
    padding: .2ex 1ex; /* reformuler en vw, vh ? */
    border-radius: 1ex; /* reformuler en vw, vh ? */
}

.title-button-image {
    height: 2em;
}

#manual-switch {
    cursor: help;
}

#decrease-size {
    cursor: zoom-out;
}

#increase-size {
    cursor: zoom-in;

}

#fullscreen {
    cursor: move;
}

#manual-resize {
}

#mode-switch {
    cursor: pointer;
    height: auto;
    padding: 1ex;
    border-radius: 1ex;
}

.switch[data-state="0"] {
    background-color: black;
}

.switch[data-state="1"] {
    background-color: var(--dark-color);
}


/*
╔══════════════════════════════════════════════════════════╗
║ 5.b. Cadre principal                                     ║
╚══════════════════════════════════════════════════════════╝
*/

#main-div { /* Réglages du cadre principal */
    display: flex;
    flex: 1 1 0;
    align-items: stretch;
}


/*
╔══════════════════════════════════════════════════════════╗
║ 5.c. Tout ce qui concerne le menu des actions            ║
╚══════════════════════════════════════════════════════════╝
*/

    #menu-div { 
        display: flex;
        align-items: stretch;
        flex: 0 0 0;
    }
    
    #fast-input {
        background-color: var(--dark-color);
        color: white;
        font-weight: bolder;
    }

    .action-button {
        font-weight: bold;
        margin: 0pt;
        overflow: hidden;
        align-items: stretch;
        text-overflow: ellipsis;
        display: flex;
        flex-flow: column nowrap;
    }

    .action-text {
        margin: auto;
    }

    .action-logo {
        font-weight: bolder;
        font-size: 4vw;
        overflow: hidden;
    }
        
 
/*
╔══════════════════════════════════════════════════════════╗
║ 5.c. Le contenu principal : systèmes et actions           ║
╚══════════════════════════════════════════════════════════╝
*/       

	#content-div {
		
				display: flex;
				flex: 1 1 0;
				justify-content: space-between;
				gap:.2cm;
				align-items: stretch;
                overflow: auto;
	}
	
	#scroll-div {
		
				display: flex;
				flex-flow: row nowrap;
				flex: 1 1 0;
				
				justify-content: space-between;
				gap:0cm;
				align-items: stretch;
    }


/*
╔══════════════════════════════════════════════════════════╗
║ Réglage de l'ascenseur pour redimensionner le manuel.            ║
╚══════════════════════════════════════════════════════════╝
*/
#pane-scrollbar {
				writing-mode: vertical-lr;
				direction: rtl;
				height: auto; /* auto, pas 100%... problème de référence ? */
                flex: 0 0 0;
                box-sizing: border-box;
			}
			
			/* https://danielstern.ca/range.css/?ref=css-tricks#/ */
			input[type=range] {
				height: 80%; 
				margin: 0;
				background-color: transparent;
				-webkit-appearance: none;
			}
			
			input[type=range]:focus {
				outline: none;
			}
			
			input[type=range]::-webkit-slider-runnable-track {
				background: var(--secondary-color);
				border-width: 0pt;
				height: 100%;
				width: 20px;
				cursor: row-resize;
			}
			
			input[type=range]::-webkit-slider-thumb {
				margin-top: -0.2px;
				width: 20px;
				height: 20px;
				background: var(--dark-color);
				border-width: 0pt;
				cursor: pointer;
				-webkit-appearance: none;
			}
			
			input[type=range]:focus::-webkit-slider-runnable-track {
				background: #edf4ee;
			}
			
			input[type=range]::-moz-range-track {
				background: var(--secondary-color);
				border-width: 0pt;
				height: 100%;
				width: 20px;
				cursor: pointer;
			}
			
			input[type=range]::-moz-range-thumb {
				width: 20px;
				height: 20px;
				background: var(--dark-color);
				border-width: 0pt;
				cursor: pointer;
			}
			
			input[type=range]::-ms-track {
				background: transparent;
				border-color: transparent;
				border-width: 0px 0;
				color: transparent;
				height: 100%;
				width: 20px;
				cursor: pointer;
			}
			
			input[type=range]::-ms-fill-lower {
				background: #5d9a65;
				border-width: 0pt;
			}
			
			input[type=range]::-ms-fill-upper {
				background: var(--secondary-color);
				border-width: 0pt;
			}
			
			input[type=range]::-ms-thumb {
				width: 20px;
				height: 20px;
				background: var(--dark-color);
				border-width: 0pt;
				cursor: pointer;
				margin-top: 0px;
				/*Needed to keep the Edge thumb centred*/
			}
			
			input[type=range]:focus::-ms-fill-lower {
				background: var(--light-secondary-color);
			}
			
			input[type=range]:focus::-ms-fill-upper {
				background: #edf4ee;
			}
			
			/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
			how to remove the virtical space around the range input in IE*/
			@supports (-ms-ime-align:auto) {
			/* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
			input[type=range] {
				margin: 0;
			/*Edge starts the margin from the thumb, not the track as other browsers do*/
			}
			}






/*
╔══════════════════════════════════════════════════════════╗
║ Affichage des systèmes ║
╚══════════════════════════════════════════════════════════╝
*/

    #solve-div {
        /* box-sizing: border-box; */
        background-color: var(--light-secondary-color);
        overflow: auto;
        flex: 1 1 0;
    }

    /* système initial, pas à sa place !!! ? */
    .initial * { 
        border-top: none;
    }
    table#resolution-steps {
        border-collapse:separate;
        border-spacing:0 0;
        background-color: white;
    }

    td.step-id {
        background-color: var(--dark-color);
        text-align: right;
        padding-left: 1ex;
        padding-right: 1ex;
        color: white;
    }


    td.step-sys {
        padding: 1ex;
    }

    td.step-comment {
        font-style: italic;
        text-align: left;
        padding-left: 1ex;
        width: 100%;
    }

    tr.step-row:not(:first-of-type)>td {
        border-top: 1px dotted var(--dark-color);
    }

    tr.step-row {
        font-size: inherit;
        padding-right: 2ex;
        width: 100%;
        background-color: white;
    }

/*
╔══════════════════════════════════════════════════════════╗
║ Affichage du manuel ║
╚══════════════════════════════════════════════════════════╝
*/
    #manual-div {
	    resize: horizontal;
        box-sizing: border-box;
        flex: 0 0 400px;
        border: 1pt solid black;
        height: 100%;
        scrollbar-gutter: stable both-edges;
    }

    #manual-iframe {
        overflow: hidden;
        box-sizing: border-box;
        flex:2;
        width:100%;
        height:auto;
    }


/*
╔══════════════════════════════════════════════════════════╗
║ Actions de résolution ║
╚══════════════════════════════════════════════════════════╝
*/

    .action-settings {
        box-sizing: border-box; /* superflu ? */
        background-color: white;
        margin: 0ex 0ex;
        padding: 1ex;
        border: 2px solid var(--darkest-secondary-color);
        border-top: 0px;
    }

    .action-choice {
        background-color: var(--darkest-secondary-color);
        color: white;
        padding: .6ex 1ex;
        margin: 0 0;
        margin-top: 1ex;
        font-weight: bold;
        cursor: pointer;
    }

    .action-container {
    }
    

    .form-section > h1 { /* titre des sections du formulaire de saisie */
        padding: .3ex .7ex;
        background-color: pink;
        color: white;
        font-size: 100%;
        font-weight: bold;
        box-sizing: border-box;
        flex: 1;
    }

    .op-choice {
        display: inline-block;
        width:2em;
        text-align: center;
        font-size:120%;
        font-weight:bold;
        border: 1px solid lavender;
        border-radius: 1ex;
        cursor: pointer;
    }

    .op-choice[data-selected="true"] {
        background-color: lavender;
        color: black;
        border-color: black;
    }

    .op-choice[data-selected="false"] {
        background-color: black;
        color:white;
        border-color: lavender;
    }



    .comb-entry-line[data-target="true"] {
        color:gray;
    }

    .comb-entry-line[data-target="true"] .comb-end {
        display: none;
    }

    .comb-entry-line[data-target="false"] {
        color:black;
    }


    .math-entry {
        border: 1px solid black;
	    width: auto;
    }

    .math-entry[data-mobile=true][data-selected="1"] { /* changer true et false en 1 et 0 ? */
        background-color: lightgoldenrodyellow;
    }
    
    .math-entry[data-mobile=true][data-selected="0"] {
        background-color: white;
    }

    
        
/*
╔══════════════════════════════════════════════════════════╗
║ Claviers virtuels ║
╚══════════════════════════════════════════════════════════╝
*/

    #virtual-kbd-container {
    }

    #virtual-kbd-layout {
        display: flex;
        justify-content: center;
    }

    #virtual-kbd-table {
        padding: 1em;
        border-radius: 1em;
    }

        
    .virtual-kbd-num {
        background-color: var(--darkest-secondary-color);
        color: white;
    }
        
    .virtual-kbd-special {
        background-color: var(--light-secondary-color);
    }
        
    .virtual-kbd-var {
        background-color: var(--lighter-secondary-color);
    }



/*
╔══════════════════════════════════════════════════════════╗
║ Autres éléments ║
╚══════════════════════════════════════════════════════════╝
*/
    .action-submit {
        width: 100%;
    }

    .error { /* messages d'erreurs de saisie */
        background-color: red;
        color: white;
        padding: 1ex;
    }

    .error-container {
        margin-top: 0 !important;
        padding: 0;
    }


/*
╔══════════════════════════════════════════════════════════╗
║ Configuration pour l'impression                  ║
╚══════════════════════════════════════════════════════════╝
*/

@media print {
    
    .no-print {
        display: none !important;
    }

}


/*
╔══════════════════════════════════════════════════════════╗
║ Configuration pour système qui autorise le survol                  ║
╚══════════════════════════════════════════════════════════╝
*/

@media (hover) {
    
    .font-size-button:hover {
        background-color: var(--dark-color);
    }
        
    .title-button:hover {
        background-color: var(--dark-color);
    }
    
    #manual-switch:hover {
        background-color: var(--dark-color);
    }

    
    td.step-id:hover {
        background-image: url("ciseaux-blancs.svg");
        background-position: bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }

}

/*
╔══════════════════════════════════════════════════════════╗
║ Utilitaire pour cacher                  ║
╚══════════════════════════════════════════════════════════╝
*/

/* pas à sa place ? */
.hide {
    display: none;
}

h1 {
    margin-bottom: 2ex;
    font-size: 125%;
}

